<div class="container mt-5">
  <h2>Country List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries">
        <td>{{ country.idCountry }}</td>
        <td>{{ country.countryName }}</td>
        <td>
          <a [routerLink]="['/country/detail', country.idCountry]" class="btn btn-primary btn-sm">Edit</a>
          <button (click)="deleteCountry(country.idCountry)" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
